[submodule "modules/theme-dsfr"]
	path = modules/theme-dsfr
	url = https://github.com/bmatge/limesurvey-theme-dsfr.git
	branch = main
[submodule "modules/email-dsfr"]
	path = modules/email-dsfr
	url = https://github.com/bmatge/limesurvey-email-dsfr.git
	branch = main
[submodule "modules/conversation-albert"]
	path = modules/conversation-albert
	url = https://github.com/bmatge/limesurvey-conversation-albert.git
	branch = main
